.jumbotron {
  background-color: #258025;
  color: black;
}

.btn {
  background-color: #995599;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 150px;
  padding: 4px 7px 4px 7px;
  margin-top: 15px;
}

.boton-reserva {
  width: 100%;

}
